<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시물 목록</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css">
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>id</th>
          <th>제목</th>
          <th>글쓴이</th>
        </tr>
        </thead>
        <tbody id="board-table-body">
        {{#boards}}
        <tr>
          <td>{{id}}</td>
          <td>{{title}}</td>
          <td>{{writer}}</td>
        </tr>
        {{/boards}}
        </tbody>
      </table>
    </div>
  </div>
</div>
</body>
</html>