<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>게시물 목록</title>
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap-theme.min.css">
  <script src="/webjars/jquery/jquery.min.js"></script>
  <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-md-12 table-responsive">
      <table class="table">
        <thead>
        <tr>
          <th>id</th>
          <th>제목</th>
          <th>글쓴이</th>
        </tr>
        </thead>
        <tbody id="board-table-body">
        {{#boards}}
        <tr>
          <td><a href="/view/board/{{id}}/form">{{id}}</a></td>
          <td><a href="/view/board/{{id}}/form">{{title}}</a></td>
          <td><a href="/view/board/{{id}}/form">{{writer}}</a></td>
        </tr>
        {{/boards}}
        </tbody>
      </table>
      <form class="form-inline">
        <div class="form-group">
          <label for="title">제목</label>
          <input type="text" class="form-control" id="title" name="title">
        </div>
        <button type="submit" class="btn btn-default">검색</button>
        <button type="button" class="btn btn-primary" id="create-btn">등록</button>
      </form>
    </div>
  </div>
</div>
<script>
  $(function () {
    $('#create-btn').click(function () {
      location.href = '/view/board/form';
    });
  });
</script>
</body>
</html>